<!DOCTYPE html>
<html>
    <head>
        <title>Time to shop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" href="../shared/global.css" />
        <link rel="shortcut icon" type="image/png" href="/shared/icons/favicon-96x96.png"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    </head>
    <body>
        <main class="l-content">
            <div>
                <h1>Wish list for <br /><strong>{{fullName}}</strong>!</h1>
                <ul>
                    {{wishList}}
                </ul>
            </div>
        </main>
    </body>
    <script src="/shared/modules/general.js"></script>
</html>